<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如 namespace="com.geekq.uMybatis.mapping.UserMapper"就是 com.geekq.uMybatis.mapping.UserMapper(包名)+
userMapper(userMapper.xml文件去除后缀)保证唯一性
 -->
<mapper namespace="com.travel.function.dao.UserDao">
    <resultMap type="com.travel.function.entity.User" id="userResultMap">
        <id column="id" property="id"/>
        <!-- 对普通列的映射定义 -->
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="_address" property="address"/>
    </resultMap>

    <sql id="base_column">
        id,name,age,_address
  </sql>
    <!-- 查询-->
    <select id="getUser" parameterType="int"
            resultType="com.travel.function.entity.User">
        select * from user where id=#{id}
    </select>



</mapper>